.ensemble {
  display: flex;
  margin: 2rem auto;
  width: 41rem;
  height: 41rem;
  flex-wrap: wrap;
  background-color: $color--black;
  @media (max-width: 74em) {
    width: 38rem;
    height: 38rem;
  }
  @media (max-width: 58em) {
    margin-top: 5.5rem;
  }
  @media (max-width: 46em) {
    margin-top: 4.2rem;
  }
  @media (max-width: 42em) {
    margin-top: 4.3rem;
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
  }
  @media (max-width: 34em) {
    margin-top: 5.7rem;
  }
  @media (max-width: 22em) {
    margin-right: -1rem;
    margin-left: -1rem;
    width: 100vw;
    height: 100vw;
  }
  a {
    color: inherit;
  }
  li {
    position: relative;
    flex: 0 0 50%;
    color: $color--white;
    -webkit-tap-highlight-color: transparent;
    img {
      width: 100%;
      pointer-events: none;
    }
    &.active {
      .ensemble--mitglied--text,
      .klang {
        z-index: 1;
        display: block;
      }
    }
  }
}


.ensemble--mitglied {
  &-elisabeth-neuser {
    em {
      color: $color--elisabeth;
    }
  }
  &-lukas-dreyer {
    em {
      color: $color--lukas;
    }
  }
  &-markus-fleischer {
    em {
      color: $color--markus;
    }
  }
  &-friederike-vollert {
    em {
      color: $color--friederike;
    }
  }
}


.ensemble--mitglied--text {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  display: none;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: 0 100%;
  pointer-events: none;
  @media (max-width: 24em) {
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  strong {
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
