.main_header {
  z-index: 2;
  position: relative;
  margin-bottom: 2rem;
  background: #1F0328 url('../images/main_header-background.svg') center no-repeat;
  background-size: cover;
  height: 7rem;
  .center {
    padding-bottom: 0;
  }
  @media (min-height: 50em) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}


.main_header--logo {
  z-index: 2;
  position: absolute;
  display: block;
  top: 0.5rem;
  width: 9rem;
  // padding: 1em;
  background: url(../images/logo--background.svg);
  background-size: 100%;
  img {
    width: 100%;
  }
  @media (max-width: 46em) {
    width: 8rem;
  }
}


.main_header--hamburger {
  border: 0; // button reset
  background-color: transparent; // button reset
  display: none;
  margin-left: -1rem;
  box-sizing: border-box;
  width: 3rem;
  height: 2.9rem;
  padding: 1.05rem 1rem;
  flex-direction: column;
  align-items: center;
  span {
    margin: auto;
    display: block;
    height: 2px;
    width: 1rem;
    background-color: $color--white;
  }
}


.main_header--menu {
  display: flex;
  padding: 2.5rem 0 0 14.5rem;
  flex-direction: column;;
  flex-wrap: wrap;
  width: 21rem;
  height: 4rem;
  li:nth-of-type(5) {
    order: 2;
  }
  a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    color: $color--white;
    &.active {
      color: $color--link;
    }
  }
  @media (max-width: 52em) {
    padding-left: 10.5rem;
  }
  // @media (max-width: 46em) {
  //   padding-left: 10.5rem;
  // }
  @media (max-width: 36em) {
    width: 16rem;
  }
}


.main_header--menu--social_media {
  order: 1;
  padding-left: 0.4rem;
  a {
    position: relative;
    top: 0.25rem;
    height: 1.15rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    &:focus, &:hover {
      animation: shake 150ms 2 linear;
    }
  }
  img {
    height: 0.85rem;
  }
  @media (max-width: 34em) {
    padding-left: 0.2rem;
    a {
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }
    img {
      height: 1.2rem;
    }
  }
}


.main_header--langswitch {
  position: absolute;
  right: 1rem;
  bottom: 0.35rem;
  font-size: 0.8em;
  color: $color--white;
  li {
    display: inline;
    &:not(:last-of-type)::after {
      content: ' • ';
    }
  }
  a {
    color: inherit;
    &.active {
      color: $color--link;
    }
  }
}


.main_header--aside {
  position: absolute;
  right: 1rem;
  top: 8rem;
  width: 1.5rem;
  pointer-events: none;
  @media (max-width: 48em) {
    width: 1.2rem;
  }
  @media (max-width: 62em) {
    position: absolute;
    right: 0.5rem;
    top: 7.5rem;
  }
  @media (max-width: 46em) {
    display: none;
  }
  @media (max-height: 35em) {
    position: absolute;
  }
}


@media (max-width: 34em) {
  .main_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    height: 2.9rem;
    font-size: 1.5rem;
    line-height: 1.5;
    .center {
      height: 100%;
    }
  }
  .main_header--logo {
    right: 0.5rem;
    width: 6rem;
  }
  .main_header.active .main_header--logo {
    background: none;
  }
  .main_header--hamburger {
    display: flex;
  }
  .main_header--menu {
    position: absolute;
    display: none;
    height: auto;
    padding: 0;
    bottom: 4rem;
    visibility: hidden;
  }
  .main_header--menu--social_media {
    margin-top: 1.0625rem;
  }
  .main_header--langswitch {
    display: none;
    right: 4rem;
    bottom: 7.6rem;
  }

  .main_header.active {
    bottom: 0;
    height: auto;
    .main_header--hamburger {
      span:nth-of-type(1) {
        transform: translateY(4px) rotate(45deg);
      }
      span:nth-of-type(2) {
        opacity: 0;
      }
      span:nth-of-type(3) {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
    .main_header--menu {
      display: block;
      visibility: visible;
    }
    .main_header--langswitch {
      display: block;
    }
  }

}
