$color--white: white;
$color--black: hsl(0,0%,20%);
$color--lightgray: #EEEEEE;

$color--link: #4097C2;

$color--elisabeth:  #24D9C8;
$color--friederike: #F994B9;
$color--markus:     #FDF200;
$color--lukas:      #89F76D;


$transition-duration: 200ms;
